<h1>Animal Zoo</h1>
<h2>Uneti novu zivotinju:</h2>

    <label for="vrsta">Vrsta</label>
    <input type="text" name="vrsta" [(ngModel)]="newAnimal.vrsta" />
    <label for="ime">Ime</label>
    <input type="text" name="ime" [(ngModel)]="newAnimal.ime" />
    <label for="datumRodjenja">Datum Rodjenja</label>
    <input type="text" name="datumRodjenja" [(ngModel)]="newAnimal.datumRodjenja" />
    <button type="submit" (click)="addAnimal(newAnimal.vrsta, newAnimal.ime, newAnimal.datumRodjenja)">Dodaj</button>
<h2>Zivotinje:</h2>
<table>
    <tr>
        <th>Vrsta</th>
        <th>Ime</th>
        <th>Datum Rodjenja</th>
        <th>Sektor</th>
    </tr>
    <tr *ngFor="let animal of animals">
        <td>{{ animal.vrsta }}</td>
        <td>{{ animal.ime }}</td>
        <td>
            {{ animal.datumRodjenja ? animal.datumRodjenja : 'Nepoznato' }}
        </td>
        <td>{{ animal.sektor.ime }}</td>
        <td><button (click)="remove(animal)">Remove</button></td>
        <td><button (click)="moveToTop(animal)">Move To Top</button></td>
    </tr>

</table>

<h2>Sektori:</h2>
<table>
    <tr>
        <th>Ime</th>
        <th>Povrsina</th>
    </tr>
    <tr *ngFor="let sector of sectors">
        <td>{{ sector.ime }}</td>
        <td>{{ sector.povrsina }}</td>
        <td><button (click)="listaZivotinja(sector)">Vidi Listu Zivotinja</button></td>
    </tr>

</table>